<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="3600">
	<Properties>
		<Property name="log-path">./logs</Property>
	</Properties>
	<Appenders>
		<!-- Appender Console -->
		<Console name="searchFilesConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>

		<!-- Appender DEBUG -->
		<RollingFile name="searchFilesAppenderDEBUG"
			fileName="${log-path}/searchFiles.log"
			filePattern="${log-path}/searchFiles_debug_%d{yyyy-MM-dd}.log.zip">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%c{1} - %M] Line %L - %msg%n</pattern>
			</PatternLayout>
			<Filters>
				<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Logger name="com.juangracia" level="debug" additivity="false">
		<appender-ref ref="searchFilesAppenderDEBUG" level="debug" />
		<appender-ref ref="searchFilesConsoleAppender" level="ALL" />
		</Logger>

		<Root level="info" additivity="false">
		<AppenderRef ref="searchFilesConsoleAppender" />
		</Root>

	</Loggers>
</Configuration>
